In [10]:
import tweepy
import pandas as pd
import credentials

In [3]:
auth = tweepy.OAuthHandler(credentials.consumer_key, credentials.consumer_secret)
auth.set_access_token(credentials.access_token, credentials.access_token_secret)
api = tweepy.API(auth)
mytimeline = api.home_timeline()

In [22]:
columns = set()
allowed_types = [str, int]
tweets_data = []
for tweet in mytimeline:
    tweet_dict = dict(vars(tweet))
    keys = tweet_dict.keys()
    single_tweet_data = {'user': tweet.user.screen_name, 'author': tweet.author.screen_name}
    for key in keys:
        try:
            v_type = type(tweet_dict[key])
        except: 
            v_type = None
        if v_type != None:
            if v_type in allowed_types:
                single_tweet_data[key] = tweet_dict[key]
                columns.add(key)
    tweets_data.append(single_tweet_data)
    
header_cols = list(columns)
header_cols.append('user')
header_cols.append('author')

In [23]:
df = pd.DataFrame(tweets_data, columns=header_cols)
df.head()

,source_url,retweet_count,text,in_reply_to_user_id,in_reply_to_screen_name,id,lang,in_reply_to_status_id_str,favorite_count,id_str,in_reply_to_status_id,in_reply_to_user_id_str,source,user,author
0,http://wildmoka.com,0,#Isra√´l: r√©duction drastique du nombre de ress...,NaN,NaN,1363903020715696129,fr,NaN,1,1363903020715696129,NaN,NaN,Wildmoka,i24NEWS_FR,i24NEWS_FR
1,http://twitter.com/download/android,3,RT @EretzSport: üì∏ | üö¥‚Äç‚ôÇÔ∏è | L'image du jour : M...,NaN,NaN,1363902994685825027,fr,NaN,0,1363902994685825027,NaN,NaN,Twitter for Android,EretzInfo,EretzInfo
2,https://mobile.twitter.com,1,La Tha√Ølande mise sur le cannabis pour stimule...,NaN,NaN,1363902959256535044,fr,NaN,1,1363902959256535044,NaN,NaN,Twitter Web App,CNEWS,CNEWS
3,https://ifttt.com,1,Mercato : Sven Botman (LOSC) n'est pas encore ...,NaN,NaN,1363902894446170118,fr,NaN,1,1363902894446170118,NaN,NaN,IFTTT,francefootball,francefootball
4,https://ifttt.com,1,Le PSG a tent√© de recruter Luis Suarez l'√©t√© d...,NaN,NaN,1363902887680688134,fr,NaN,1,1363902887680688134,NaN,NaN,IFTTT,francefootball,francefootball

In [24]:
def extract_timeline_as_df(timeline_list):
    columns = set()
    allowed_types = [str, int]
    tweets_data = []
    for tweet in timeline_list:
        tweet_dict = dict(vars(tweet))
        keys = tweet_dict.keys()
        single_tweet_data = {'user': tweet.user.screen_name, 'author': tweet.author.screen_name}
        for key in keys:
            try:
                v_type = type(tweet_dict[key])
            except: 
                v_type = None
            if v_type != None:
                if v_type in allowed_types:
                    single_tweet_data[key] = tweet_dict[key]
                    columns.add(key)
        tweets_data.append(single_tweet_data)

    header_cols = list(columns)
    header_cols.append('user')
    header_cols.append('author')
    df = pd.DataFrame(tweets_data, columns=header_cols)
    return df

In [26]:
rafa_nadal = api.get_user('RafaelNadal')
rafa_tl = rafa_nadal.timeline()
df3 = extract_timeline_as_df(rafa_tl)
df3.head()

,source_url,retweet_count,text,quoted_status_id,quoted_status_id_str,id,lang,favorite_count,id_str,source,user,author
0,https://studio.twitter.com,569,Todos sabemos que en esta vida nadie puede con...,NaN,NaN,1360948414456893441,es,3796,1360948414456893441,Twitter Media Studio,RafaelNadal,RafaelNadal
1,https://mobile.twitter.com,230,RT @Kia_Worldwide: To celebrate our 20 years o...,NaN,NaN,1357482665893498882,en,0,1357482665893498882,Twitter Web App,RafaelNadal,RafaelNadal
2,http://twitter.com/download/iphone,182,Me alegra anunciaros que ahora pod√©is encontra...,NaN,NaN,1356932448735518720,es,1727,1356932448735518720,Twitter for iPhone,RafaelNadal,RafaelNadal
3,http://twitter.com/download/iphone,584,"Hi all, we have decided with #TeamSpain and my...",NaN,NaN,1356480493458386944,en,7908,1356480493458386944,Twitter for iPhone,RafaelNadal,RafaelNadal
4,http://twitter.com/download/iphone,250,Check this @Kia_Worldwide and @babolat are uni...,NaN,NaN,1355860496860073990,en,2257,1355860496860073990,Twitter for iPhone,RafaelNadal,RafaelNadal

In [29]:
#Get a specific tweet
status_obj = api.get_status('1363810487180402688')
status_obj.text

'Nous devons acc√©l√©rer ensemble la production de vaccins via des partenariats industriels. Tout en poursuivant sa re‚Ä¶ https://t.co/vJ0DRejkIM'

In [31]:
rafa_tl[0].id

1360948414456893441